/sim_altera/prj/*.bak
/sim_altera/prj/db
/sim_altera/prj/incremental_db
/sim_altera/prj/output_files
/sim_altera/prj/lte_fft_nativelink_simulation.rpt
/sim_xilinx/scripts/work
/sim_altera/script/libraries
/sim_altera/script/modelsim.ini_new
/lte_fft.HWORKS.Hoki.pui
/sim_altera/prj/core/.qsys_edit/preferences-DESKTOP-L06O4HL.xml
/sim_xilinx/prj/_xmsgs
/sim_altera/prj/core/fft-DESKTOP-L06O4HL.sopcinfo
/sim_altera/prj/lte_fft-DESKTOP-L06O4HL.qws
/sim_xilinx/prj/LTE_FFT.bld
/sim_xilinx/prj/LTE_FFT.cmd_log
/sim_xilinx/prj/LTE_FFT.lso
/sim_xilinx/prj/LTE_FFT.ncd
/sim_xilinx/prj/LTE_FFT.ngc
/sim_xilinx/prj/LTE_FFT.ngd
/sim_xilinx/prj/LTE_FFT.ngr
/sim_xilinx/prj/LTE_FFT.pad
/sim_xilinx/prj/LTE_FFT.par
/sim_xilinx/prj/LTE_FFT.pcf
/sim_xilinx/prj/LTE_FFT.prj
/sim_xilinx/prj/LTE_FFT.ptwx
/sim_xilinx/prj/LTE_FFT.stx
/sim_xilinx/prj/LTE_FFT.syr
/sim_xilinx/prj/LTE_FFT.twr
/sim_xilinx/prj/LTE_FFT.twx
/sim_xilinx/prj/LTE_FFT.unroutes
/sim_xilinx/prj/LTE_FFT.xpi
/sim_xilinx/prj/LTE_FFT.xst
/sim_xilinx/prj/LTE_FFT_envsettings.html
/sim_xilinx/prj/LTE_FFT_map.map
/sim_xilinx/prj/LTE_FFT_map.mrp
/sim_xilinx/prj/LTE_FFT_map.ncd
/sim_xilinx/prj/LTE_FFT_map.ngm
/sim_xilinx/prj/LTE_FFT_map.xrpt
/sim_xilinx/prj/LTE_FFT_ngdbuild.xrpt
/sim_xilinx/prj/LTE_FFT_pad.csv
/sim_xilinx/prj/LTE_FFT_pad.txt
/sim_xilinx/prj/LTE_FFT_par.xrpt
/sim_xilinx/prj/LTE_FFT_summary.xml
/sim_xilinx/prj/LTE_FFT_usage.xml
/sim_xilinx/prj/LTE_FFT_xst.xrpt
/src/core/altera/fft-DESKTOP-L06O4HL.csv
/src/core/altera/fft-DESKTOP-L06O4HL.html
/src/core/altera/fft-DESKTOP-L06O4HL.xml
/src/core/altera/fft_generation-DESKTOP-L06O4HL.rpt
/src/core/altera/fft_generation_previous-DESKTOP-L06O4HL.rpt
/src/core/altera/simulation/aldec/rivierapro_setup-DESKTOP-L06O4HL.tcl
/src/core/altera/simulation/cadence/ncsim_setup-DESKTOP-L06O4HL.sh
/src/core/altera/simulation/mentor/msim_setup-DESKTOP-L06O4HL.tcl
/src/core/altera/simulation/submodules/fft_fft_ii_0-DESKTOP-L06O4HL.vo
/src/core/altera/simulation/synopsys/vcs/vcs_setup-DESKTOP-L06O4HL.sh
/src/core/altera/simulation/synopsys/vcsmx/vcsmx_setup-DESKTOP-L06O4HL.sh
/src/core/altera/synthesis/fft-DESKTOP-L06O4HL.debuginfo
/src/core/altera/synthesis/fft-DESKTOP-L06O4HL.qip
/src/core/xilinx/tmp/_cg/_dbg/xil_842.in
/src/core/xilinx/tmp/_cg/_dbg/xil_842.out
